#if ($snoozable)
<div class="highlight contentBox" id="showSnooze">
    #CONTENT_HEADER ($MSG.htmlSnoozeCaption)
    <div class="content">
    <table style="table-layout: fixed;">
        <tr>
            <th>$MSG.htmlFrom</th>
            <th style="width: 30%">$MSG.htmlMessage</th>
            <th>$MSG.htmlLeft</th>
            <th style="width: 50%">$MSG.htmlSnooze</th>
        </tr>
        
        <tr>
            <td>$snoozable.getFromUser()</td>
            <td>$snoozable.getMessage()</td>
            <td>$myPolly.formatting().formatDate($snoozable.getLeaveDate())</td>
            <td>
                <input 
                    type="text" 
                    class="textbox" 
                    id="snooze_input"
                    placeholder="$MSG.htmlPlaceHolder" 
                    style="width: 50%"
                 />
                <input type="button" class="button" value="$MSG.htmlOk" onclick="setInputSnooze()" title="$MSG.htmlSnoozeByExpression"/>
                <input type="button" class="button" value="$runtime" onclick="setSnooze('$runtime')" title="$MSG.htmlSnoozeByRuntime"/>
                <input type="button" class="button" value="$defaultRemindTime" onclick="setSnooze('$defaultRemindTime')" title="$MSG.htmlSnoozeByDefault"/>
                <input type="button" class="button" value="$MSG.htmlSnoozeDiscard" onclick="discardSnooze()" title="$MSG.htmlSnoozeDiscard"/>
            </td>
            
        </tr>
    </table>
    </div>
</div>
#end


<script>
function setInputSnooze() {
    var expression = encodeURIComponent($("#snooze_input").val())
    setSnooze(expression);
}
function setSnooze(timespan) {
    $.get("$PAGE_SETSNOOZE?timespan="+timespan, function(data) {
        var result = JSON.parse(data);
        if (!result.success) {
            $("#snooze_input").val(result.message);
            $("#snooze_input").select();
        } else {
            $("#showSnooze").fadeOut();
            loadTable("/api/allReminds", "allReminds")
            loadTable("/api/myReminds?nickname=$user.getName()", "myReminds")
        }
    });
};
function discardSnooze() {
    showProgress();
    $.get("$PAGE_DISCARDSNOOZE", function(data) {
        var result = JSON.parse(data);
        if (result.success) {
            $("#showSnooze").fadeOut();
        }
        stopProgress();
    });
}
</script>

<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlYourRemindsCaption)
    
    <div class="content">
        <table id="myReminds">
        </table>
    </div>
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlAdminViewCaption)
    
    <div class="content">
        <table id="allReminds">
        </table>
    </div>
</div>


<script>
$(document).ready(function() {
	loadTable("/api/allReminds", "allReminds")
	loadTable("/api/myReminds?nickname=$user.getName()", "myReminds")
});

function cancelRemind(id) {
    $.get("$PAGE_CANCELREMIND?remindId="+id, function(data) {
        var result = JSON.parse(data);
        if (result.success) {
            loadTable("/api/allReminds?updateAll=true", "allReminds")
            loadTable("/api/myReminds?nickname=$user.getName()&updateAll=true", "myReminds")
        } else {
            alert(result.message);
        }
    });
}
</script>