body {
    font-family: Verdana, Arial, Georgia, Serif;
}

#menu {
    float: left;
    width: 120px;
}

#menu ul {
    list-style-type: none;
    list-style-position:inside;
    padding: 0;
    margin: 0;
}

#menu li a{
    display: block;
    height: 23px;
    padding: 5px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #E0E0E0;
}

#content {
    margin-left: 136px;
    padding: 5px;
    font-size: small;
}

#content th {
    background-color: #E0E0E0;
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
	text-align: left;
}

#content td {
    background-color: #F0F0F0;
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
	text-align: left;
}

#content .pre {
	white-space: pre;
	background-color: #F0F0F0;
}

#content table {
	width: 100%;
}

#content a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#content a:hover {
    text-decoration: underline;
}


.button {
    border: 1px solid #808080;
    font-weight: bold;
    margin: 2px;
}
.button:hover {
    border: 1px solid black;
    background-color: #E0E0E0;
}

#loginInfo {
    border: 1px solid black;
    padding: 5px;
    float: right;
    font-size: x-small;
    background-color: #E0E0E0;
}

#permissions {
    background-color: #F0F0F0;
    border: 1px solid black;
    font-size: x-small;
    padding: 5px;
    margin-bottom: 20px;
    width: auto;
    display:inline;
}

#bottom {
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-top: 1px solid black;
    padding-top: 5px;
    text-align: center;
    font-size: x-small;
}

#top a  {
    color: black;
    text-decoration: none;
}

#advert {
    font-size: small;
}