<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlStatisticCaption)
    <p class="content highlight" style="text-align:center;padding:0px;margin:10px;">
        <b>$MSG.htmlStatisticHowTo:</b> $MSG.htmlStatisticAdjust<br/>
        <input type="button" class="button" value="$MSG.htmlStatisticReload" onclick="loadStats()"/>
    </p>
    <div class="content" style="display:none" id="statistics"></div>
</div>



<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlAllReportsCaption)
    <div class="content">
        <table id="reports">
        </table>
    </div>
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlPostReportCaption)
    <div class="content">
    <form id="postReport">
	    <textarea name="report" style="width: 100%;height:250px;"></textarea>
	    <input type="button" value="$MSG.htmlPostReportSubmit" onclick="submitReport()"/>
    </form>
    </div>
</div>
<script>
$(document).ready(function() {
	loadTable("/api/allReports", "reports");
});

function loadStats() {
    showProgress();
    $.get("/api/battlereportStatistics", function(data) {
        $("#statistics").html(data);
        $("#statistics").fadeIn();
        stopProgress();
    });
}

function deleteReport(id) {
	var del = confirm("$MSG.htmlPostDeleteConfirm");
	if (!del) {
		return;
	}
	$.get("$PAGE_DELETEREPORT?reportId="+id, function(data) {
		var result = JSON.parse(data);
		if (!result.success) {
			alert(result.message);
		} else {
		    location.reload();
		}
	});
}

function submitReport() {
	$.post("$PAGE_POSTREPORT", $("#postReport").serialize(), function(data) {
		var result = JSON.parse(data);
		if (!result.success) {
			alert(result.message);
			$("#postReport textarea").select();
		} else {
			$("#postReport textarea").val("");
			location.reload();
		}
	})
}
</script>