<h3 style="margin-bottom:5px;">$Constants.bind($MSG.htmlReportStatsHeader, $reportSize)</h3>
<table>
    <tr>
    #foreach ($i in [1..14])
        <th style="text-align: center"><img src="/polly/rx/httpv2/view/r${i}.gif"/></th>
    #end
    <th style="text-align:center">$MSG.htmlReportStatsArtifacts</th>
    </tr>
    <tr>
        <th colspan="15">$MSG.htmlReportStatsTotalDrop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropSum)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">$artifacts</td>
    </tr>
    <tr>
        <th colspan="14">$MSG.htmlReportStatsAvgDrop</th>
        <th style="text-align:center">$MSG.htmlReportStatsChance</th>
    </tr>
    <tr>
    #foreach ($drop in $dropSum)
#set ($ratio = $drop.getAmount()/$reportSize)
        <td style="text-align:center;">$df.format($!ratio)</td>
    #end
        <td style="text-align:center">$df.format($chance)%</td>
    </tr>
    <tr>
        <th colspan="15">$MSG.htmlReportStatsMaxDrop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropMax)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">--</td>
    </tr>
    <tr>
        <th colspan="15">$MSG.htmlReportStatsMinDrop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropMin)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">--</td>
<tr>
    <th colspan="14">$MSG.htmlReportStatsDropNetto</th>
    <th style="text-align:center;">$MSG.htmlReportStatsSum</th>
    </tr>
    <tr>
    #foreach ($drop in $dropNetto)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">--</td>
    </tr>
    <tr>
    #foreach ($i in [0..13])
        <td style="text-align:center;">$df.format($dropPrices[$i])</td>
    #end
        <td style="text-align:center">$dropPriceSum</td>
    </tr>
</table>


#macro (PRINT_STATS $caption $avgKw $attackerXp $crewXp $pzDmg $repairTime $repairCost)
<h3 style="margin-bottom:5px;margin-top:5px">$caption</h3>
<p><b>$MSG.htmlReportStatsNote:</b> $MSG.htmlReportStatsNoteAlienAttacks</p>
<table style="width:auto">
    <tr>
        <td><b>$MSG.htmlReportStatsAvgKw</b></td>
        <td style="text-align:right;">$df.format($avgKw)</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlReportStatsCapiXp</b></td>
        <td style="text-align:right;">$!attackerXp</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlReportStatsCrewXp</b></td>
        <td style="text-align:right;">$!crewXp</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlReportStatsPzDmg</b></td>
        <td style="text-align:right;">$!pzDmg</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlReportStatsRepairTime</b></td>
        <td style="text-align:right;">$myPolly.formatting().formatTimeSpan($repairTime)</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlReportStatsRepairCosts</b></td>
        <td>
            <table>
                <tr>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r1.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r2.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r5.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r6.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r7.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r8.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r9.gif"/></th>
                </tr>
                <tr>
                #foreach ($i in $repairCost)
                    <td style="text-align:center">$!i.getAmount()</th>
                #end
                </tr>
            </table>
        </td>
    </tr>
</table>
#end

#PRINT_STATS($MSG.htmlAttackerFleet, 
    $kwAttacker, 
    $capiXpSumAttacker, 
    $crewXpSumAttacker, 
    $pzDamageAttacker, 
    $repairTimeAttacker, 
    $repairCostAttacker)

#PRINT_STATS($MSG.htmlDefenderFleet, 
    $kwDefender, 
    $capiXpSumDefender, 
    $crewXpSumDefender, 
    $pzDamageDefender, 
    $repairTimeDefender, 
    $repairCostDefender)