<h3 style="margin-bottom:5px;">Statistics for $reportSize reports</h3>
<table>
    <tr>
    #foreach ($i in [1..14])
        <th style="text-align: center"><img src="/polly/rx/httpv2/view/r${i}.gif"/></th>
    #end
    <th style="text-align:center">Artifacts</th>
    </tr>
    <tr>
        <th colspan="15">Total drop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropSum)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">$artifacts</td>
    </tr>
    <tr>
        <th colspan="14">Average drop</th>
        <th style="text-align:center">Chance</th>
    </tr>
    <tr>
    #foreach ($drop in $dropSum)
#set ($ratio = $drop.getAmount()/$reportSize)
        <td style="text-align:center;">$df.format($!ratio)</td>
    #end
        <td style="text-align:center">$df.format($chance)%</td>
    </tr>
    <tr>
        <th colspan="15">Max drop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropMax)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">--</td>
    </tr>
    <tr>
        <th colspan="15">Min drop</th>
    </tr>
    <tr>
    #foreach ($drop in $dropMin)
        <td style="text-align:center;">$!drop.getAmount()</td>
    #end
        <td style="text-align:center">--</td>
    </tr>
</table>

<h3 style="margin-bottom:5px;margin-top:5px">Attacker</h3>
<p><b>Note:</b> On Alien Attacks, your fleet is always considered the attacker for these statistics</p>
<table style="width:auto">
    <tr>
        <td><b>Average attacker KW</b></td>
        <td style="text-align:right;">$df.format($kwAttacker)</td>
    </tr>
    <tr>
        <td><b>Total attacker Captain XP</b></td>
        <td style="text-align:right;">$!capiXpSumAttacker</td>
    </tr>
    <tr>
        <td><b>Total attacker Crew XP</b></td>
        <td style="text-align:right;">$!crewXpSumAttacker</td>
    </tr>
    <tr>
        <td><b>Total attacker PZ damage</b></td>
        <td style="text-align:right;">$!pzDamageAttacker</td>
    </tr>
    <tr>
        <td><b>Total attacker repair time</b></td>
        <td style="text-align:right;">$myPolly.formatting().formatTimeSpan($repairTimeAttacker)</td>
    </tr>
    <tr>
        <td><b>Total attacker repair costs</b></td>
        <td>
            <table>
                <tr>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r1.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r2.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r5.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r6.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r7.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r8.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r9.gif"/></th>
                </tr>
                <tr>
                #foreach ($i in $repairCostAttacker)
                    <td style="text-align:center">$!i.getAmount()</th>
                #end
                </tr>
            </table>
        </td>
    </tr>
</table>

<h3 style="margin-bottom:5px;margin-top:5px">Defender</h3>
<table style="width:auto">
    <tr>
        <td><b>Average defender KW</b></td>
        <td style="text-align:right;">$df.format($kwDefender)</td>
    </tr>
    <tr>
        <td><b>Total defender Captain XP</b></td>
        <td style="text-align:right;">$!capiXpSumDefender</td>
    </tr>
    <tr>
        <td><b>Total defender Crew XP</b></td>
        <td style="text-align:right;">$!crewXpSumDefender</td>
    </tr>
    <tr>
        <td><b>Total defender PZ damage</b></td>
        <td style="text-align:right;">$!pzDamageDefender</td>
    </tr>
    <tr>
        <td><b>Total defender repair time</b></td>
        <td style="text-align:right;">$myPolly.formatting().formatTimeSpan($repairTimeDefender)</td>
    </tr>
    <tr>
        <td><b>Total defender repair costs</b></td>
        <td>
            <table>
                <tr>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r1.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r2.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r5.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r6.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r7.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r8.gif"/></th>
                <th style="text-align:center"><img src="/polly/rx/httpv2/view/r9.gif"/></th>
                </tr>
                <tr>
                #foreach ($i in $repairCostDefender)
                    <td style="text-align:center">$!i.getAmount()</th>
                #end
                </tr>
            </table>
        </td>
    </tr>
</table>