<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlConfigAzCaption)
    <p class="content">$MSG.htmlConfiAzDesc</p>
    <p class="content">$MSG.htmlConfigAzDesc2</p>
    <div class="content">
    <table>
    <tr>
        <td><label for="fleet">$MSG.htmlFleetName:</label></td>
        <td><input id="fleetName" name="fleet" type="text" class="textbox"/></td>
    </tr>
    <tr>
        <td><label for="fleet">$MSG.htmlConfigAzAz:</label></td>
        <td><input id="az" name="az" type="text" class="textbox" placeholder="14m"/></td>
    </tr>
<tr>
        <td><label for="fleet">$MSG.htmlConfigAzJumpTime:</label></td>
        <td><input id="jumpTime" name="jumpTime" type="text" class="textbox"/></td>
    </tr>
    <tr>
        <td><input type="submit" class="button" value="$MSG.htmlConfigAzSubmit"
            onclick="addAzEntry()"/></td>
        <td></td>
    </tr>
    </table>
    
    <table style="margin-top: 10px;">
    <tr>
       <th>$MSG.htmlFleetName</th>
       <th>$MSG.htmlConfigAzAz</th>
       <th>$MSG.htmlConfigAzJumpTime</th>
       <th>$MSG.htmlConfigAzAction</th>
    </tr>
    #foreach ($e in $entries)
    <tr>
        <td>$e.getFleetName()</td>
        <td>$e.getAz()</td>
        <td>$!e.getJumpTime()</td>
        <td><input type="button" class="button" value="$MSG.htmlConfigAzDelete" 
            onclick="deleteAzEntry($e.getId())"/>
    </tr>
    #end
    </table>
    </div>
</div>

<script>
function addAzEntry() {
	var fleetname = $("#fleetName").val();
	var az = $("#az").val();
	var jt = $("#jumpTime").val();
	
    $.get("$PAGE_ADDAZENTRY?fleet="+fleetname+"&az="+az+"&jumpTime="+jt, 
    		function(data) {
        var result = JSON.parse(data);
        if (result.success) {
            location.reload();
        } else {
            alert(result.message);
        }
    });
}
function deleteAzEntry(id) {
	$.get("$PAGE_DELETEAZENTRY?entryId="+id, function(data) {
		var result = JSON.parse(data);
		if (result.success) {
			location.reload();
		} else {
			alert(result.message);
		}
	});
}
</script>