<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlFleetScanOVerviewCaption)
    <p class="content">$MSG.htmlFleetScanOverviewInfo</p>
    <div class="content">
        <table id="fleetScans">
        </table>
    </div>
</div>

<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlFleetScanPostScanCaption)
    <div class="content">
    <form id="postScan">
    <table>
    <tr><td><label for="scan">$MSG.htmlFleetScanPasteLabel</label></td></tr>
    <tr><td><textarea name="scan" style="width: 100%; height:250px" class="textbox"></textarea></td></tr>
    
    <tr><td>
        <label for="quadrant">$MSG.htmlFleetScanQuadrantLabel:</label>
        <input type="text" class="textbox" name="quadrant"/>
        <label for="x">$MSG.htmlFleetScanXLabel:</label>
        <input type="text" class="textbox" style="width:50px"; name="x"/>
        <label for="y">$MSG.htmlFleetScanYLabel:</label>
        <input type="text" class="textbox" style="width:50px" name="y"/>
    </td></tr>
    <tr><td><label for="meta">$MSG.htmlFleetScanMeta</label></td></tr>
    <tr><td><textarea name="meta" style="width: 100%; height:100px" class="textbox"></textarea></td></tr>
    <tr><td><input type="button" class="button" value="$MSG.htmlFleetScanSubmit" onclick="submitScan()"/></td></tr>
    </table>
    </form>
    </div>
</div>

<script>
$(document).ready(function() {
	loadTable("/api/allFleetScans", "fleetScans");
});

function submitScan() {
    $.post("$PAGE_POSTFLEETSCAN", $("#postScan").serialize(), function(data) {
        var result = JSON.parse(data);
        if (!result.success) {
            alert(result.message);
            $("#postScan textarea").select();
        } else {
            $("#postScan textarea").val("");
            location.reload();
        }
    })
}
</script>