<div class="highlight contentBox">
    #CONTENT_HEADER ($Constants.bind($MSG.htmlFleetScanDetailsCaption, $scan.getFleetName()))
    <div class="content">
        <table>
        <tr>
            <td><b>$MSG.htmlFleetScanDate:</b>
            <td>$myPolly.formatting().formatDate($scan.getDate())</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanSens:</b>
            <td>$scan.getLocalSens()</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanName:</b>
            <td>$scan.getFleetName()</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanOwner:</b>
            <td>$scan.getOwnerName()</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanClan:</b>
            <td>$scan.getOwnerClan()</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanTag:</b>
            <td>$scan.getFleetTag()</td>
        </tr>
        <tr>
            <td><b>$MSG.htmlFleetScanLocation:</b>
            <td>$scan.getQuadrant() $scan.getX(), $scan.getY()</td>
        </tr>
        </table>
    </div>
</div>

#if ($scan.getMetaData() != "")
<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlFleetScanMeta)
    <p class="content">$scan.getMetaData()</p>
</div>
#end

<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlFleetScanContainedShipsCaption)
    <div class="content">
        <table id="ships"></table>
    </div>
</div>

<script>
$(document).ready(function() {
	loadTable("/api/shipsForScan?SCAN_ID=$scan.getId()", "ships");
});
</script>