<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlGMCaption)
    <div class="content">
    <table>
    <tr>
        <th>$MSG.htmlGMScript</th>
        <th>$MSG.htmlGMDescription</th>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLSCOREBOARD">$MSG.htmlGMScoreboardPasterName</a></td>
        <td>$MSG.htmlGMScoreboardPasterDesc</td>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLLIVEKB">$MSG.htmlGMReportPasterName</a></td>
        <td>$MSG.htmlGMReportPasterDesc</td>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLFLEETSCANS">$MSG.htmlGMFleetScansName</a></td>
        <td>$MSG.htmlGMFleetScansDesc</td>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLORION">$MSG.htmlGMOrionName</a></td>
        <td>$MSG.htmlGMOrionDesc</td>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLORIONV2">$MSG.htmlGMOrionV2Name</a></td>
        <td>$MSG.htmlGMOrionV2Desc</td>
    </tr>
    </table>
    </div>
</div>