<style>
.lihover:hover {
    border: 2px solid black;
}
</style>

<div class="graphContainer">
$MSG.htmlGraphSelectMonths:


#if ($isCompare)
<select id="selectMonths_cmp" size="1" 
    onchange="selectMMCompare('$PAGE_GRAPHCOMPARE', 'compare')">
#else
<select id="selectMonths_$venad.hashCode()" size="1" 
    onchange="selectMM('$PAGE_GRAPHFORVENAD', '$venad.hashCode()', '$venad')">
#end
    #foreach ($month in [2..12])
    #set ($m = $month * 2)
    #set ($selected = $m == $maxMonths)
    <option value="$m" #if ($selected) selected #end>$m</option>
    #end
</select>
<a href="/api/imageFromSession?imgName=$imgName">$MSG.htmlGraphLinkToImage</a>
<ul id="data_$venad" style="
        list-style: none; 
        background: url('/api/imageFromSession?imgName=$imgName') no-repeat 0 0;
        position: relative;
        width: 850px;
        height: 500px;
        margin: 0px;
        padding: 0px;">
    #foreach($np in $allPoints)
        #set ($left = $np.getIntX() - 4)
        #set ($top = $np.getIntY() - 3)
    <li style="
        border: none; 
        position: absolute;
        top: ${top}px;
        left: ${left}px;
        width: 6px;
        height: 5px;">
            <a class="lihover" href="#" style="
                display: block; 
                height: 100%; 
                text-indet:-9000px;" 
                alt="$np.getName()" title="$np.getName()"/>
            </a>
    </li>
    #end
</ul>
</div>