<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlScoreboardOverviewPostCaption)
    <div class="content">
    <form id="paste">
        <textarea name="input" style="width:100%; height: 200px"></textarea>
        <input class="button" type="button" value="$MSG.htmlScoreboardOverviewPostSubmit" onclick="submitSB()"/>
    </form>
    </div>
</div>

<div id="compListContainer" class="highlight contentBox" #if ($compareList.getEntries().isEmpty()) style="display:none" #end>
    #CONTENT_HEADER ($MSG.htmlScoreboardOverviewCompareList)
    <div class="content">
    
    <div id="compList">
    #foreach ($v in $compareList.getEntries())
    <input id="$v.hashCode()" type="button" class="button" value="$v" title="$MSG.htmlScoreboardOverviewRemoveFromCompare" onclick="removeFromCompare('$v.hashCode()', '$v')"/>
    #end
    </div>
    
    <form method="get" action="$PAGE_COMPARE">
        <input type="submit" class="button"  value="$MSG.htmlScoreboardOverviewCompare" title="$MSG.htmlScoreboardOverviewCompareTitle"/>
    </form>
    </div>
</div>

<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlScoreboardOverviewEntries)
    <div class="content">
        <table id="scoreboard">
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
	loadTable("/api/scoreboard", "scoreboard");
});

function addToCompare(hash, name) {
	$.get("$PAGE_ADDTOCOMPARE?venadName="+name, function(data) {
		var inp = '<input id="' + hash + '" ' + 
		   'type="button" class="button" value="' + name + '" title="$MSG.htmlScoreboardOverviewRemoveFromCompare" ' + 
		   'onclick="removeFromCompare(' + "'" + hash + "', '" + name + "'" + ')"/>';
		$("#compList").append(inp);
		$("#compListContainer").show();
	});
}
function removeFromCompare(hash, name) {
    $.get("$PAGE_REMOVEFROMCOMPARE?venadName="+name, function(data) {
    	$("#" + hash).remove();
    });	
}
function submitSB() {
	showProgress();
	$.post("$PAGE_POSTSCOREBOARD", $("#paste").serialize(), function(data) {
		$("#paste textarea").val("");
		location.reload();
	});
}
</script>