*.class
*.ctxt
*.log
*.pdf
*.bak

*.classpath
*.properties
*.project
*.prefs
.metadata/*.*
*.html
*.tex
*.cache
*.css
*.zip
*.script
*.lck
*.gif
*.log.*
*.classpath
*.project
*.xsl
*.png
*.js
*.ppk
/polly/cfg/mail.cfg