*.class
*.ctxt
*.log
*.pdf
*.bak

*.classpath
*.properties
*.project
*.prefs
.metadata/*.*
*.html
*.tex
*.cache
*.css
*.zip
*.script
*.lck
*.gif
*.log.*
*.classpath
*.project
*.xsl
*.png
*.js
*.ppk
*.num
*.declaration
/libs/
/plugins/
/polly/cfg/mail.cfg
/polly/dist
/polly/build
/polly/plugins/
/installer/dist/
/installer/build/
/moduleloader/dist/
/moduleloader/build/
/network/dist/
/network/build/
/parser/dist/
/parser/build/
/polly.config/dist/
/polly.config/build/
/polly.core/dist/
/polly.core/build/
/polly.logging/dist/
/polly.logging/build/
/polly.memes/dist/
/polly.memes/build/
/polly.process/dist/
/polly.process/build/
/polly.reminds/dist/
/polly.reminds/build/
/polly.sdk/dist/
/polly.sdk/build/
/polly.tools/dist/
/polly.tools/build/
/porat/dist/
/porat/build/
/polly.porat/dist/
/polly.porat/build/