<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlAccounts)
    <form class="content" action="$PAGE_REFRESH" method="get">
        $Constants.bind($MSG.htmlIpStatus, $myPolly.formatting().formatDate($lastUpdate), $currentIp)
        <input type="submit" class="button" value="$MSG.htmlRefresh"/>
    </form>
    
    <div class="content">
        <table>
        <tr>
          <th>$MSG.htmlHoster</th>
          <th>$MSG.htmlDomainName</th>
          <th>$MSG.htmlAccountStatus</th>
          <th>$MSG.htmlAccountTime</th>
          <th></th>
        </tr>
        #foreach ($account in $allAccounts)
        <tr>
          <td>$account.getHoster().getName()</td>
          <td>$account.getDomainName()</td>
          <td>$account.getCurrentStatus()</td>
          <td>$myPolly.formatting().formatDate($account.getUpdateTime())</td>
          <td><form style="display:inline" method="get" action="$PAGE_DELETEACCOUNT"><input type="hidden" name="accountId" value="$account.getId()"/><input type="submit" value="$MSG.htmlDelete" class="button"/></form></td>
        </tr>
        #end
        </table>
    </div>
</div>

<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlAddAccount)
    <div class="content">
    #if ($allHosters.isEmpty())
            $MSG.htmlNoHostersConfigured
    #else
        <form action="$PAGE_ADDACCOUNT" method="post">
        <table>
            <tr>
                <td><b>$MSG.htmlHoster</b></td>
                <td>
                    <select name="hosterId" size="1">
                    #foreach ($hoster in $allHosters)
                    <option value="$hoster.getId()">$hoster.getName()</option>
                    #end
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>$MSG.htmlDomainName</b></td>
                <td><input type="text" class="textbox" placeholder="$MSG.htmlDomainName" name="domainName"/>
            </td>
            <tr>
                <td><b>$MSG.htmlUserName</b></td>
                <td><input type="text" class="textbox" placeholder="$MSG.htmlUserName" name="userName"/>
            </td>
            <tr>
                <td><b>$MSG.htmlPassword</b></td>
                <td><input type="password" class="textbox" name="password"/>
            </td>
            <tr>
                <td></td>
                <td><input type="submit" class="button" value="$MSG.htmlSubmit"/>
            </td>
        </table>
        </form>
    #end
    </div>    
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlAddHoster)
    <div class="content">
        <form action="$PAGE_ADDHOST" method="post">
            <table>
                <tr>
                    <td><b>$MSG.htmlHosterName</b></td>
                    <td><input type="text" class="textbox" placeholder="$MSG.htmlHosterName" name="hosterName"/>
                </td>
                <tr>
                    <td><b>$MSG.htmlUpdateUrl</b></td>
                    <td><input type="text" class="textbox" placeholder="$MSG.htmlUpdateUrl" name="updateUrl"/><p>$MSG.htmlUrlDescription</p>
                </td>
                <tr>
                    <td></td>
                    <td><input type="submit" class="button" value="$MSG.htmlSubmit"/>
                </td>
            </table>
        </form>
    </div>
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlHoster)

    <div class="content">
        <table>
        <tr>
          <th>$MSG.htmlHoster</th>
          <th>$MSG.htmlUpdateUrl</th>
          <th></th>
        </tr>
        #foreach ($hoster in $allHosters)
        <tr>
          <td>$hoster.getName()</td>
          <td>$HTML.escape($hoster.getBaseUrl())</td>
          <td><form style="display:inline" method="get" action="$PAGE_DELETEHOSTER"><input type="hidden" name="hosterId" value="$hoster.getId()"/><input type="submit" value="$MSG.htmlDelete" class="button"/></form></td>
        </tr>
        #end
        </table>
    </div>
</div>