<html>
<head>
    <title>${title}</title>
    <link rel="stylesheet" type="text/css" href="files/style.css" />
</head>
<body>
    <div id="header">
        $sessionId
        <div id="info">
            #if ($user)
            Logged in as $user
            #else
            <form action="login" method="post">
                <label for="name">Login:</label><input type="text" name="name"/>
                <label for="pw">Password:</label><input type="password" name="pw"/>
                <input type="submit" value="Login"/>
            </form>
            #end
        </div>
        
        <h1><a href="/">${title}</a></h1>
    </div>

    <ul id="nav">
        <li><a href="#">Users</a></li>
        <li><a href="#">Sessions</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Replay</a></li>
    </ul>
    
    <div style="background: height:25px;font-size:small; font-weight:bold;padding-left:40px; padding-top:3px;">
        SubNav:
    </div>
    
    <div id="content">
        <h2>Selected</h2>
        <table>
            <tr>
                <th>Header</th>
                <th>Header1</th>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>
            <tr>
                <td>asd</td>
                <td>Heasdsadader1</td>
            </tr>

        </table>
    </div>
    
    <div id="footer">
        Polly Webinterface v2. Copyright 2013 Simon Taddiken
    </div>
</body>
</html>