<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlOrionName)
    <div class="content">
        $MSG.htmlAvailableQuads
        #foreach ($quad in $allQuads)
            <a href="#" quadName="$quad" class="load_quad">$quad</a>
        #end
        <div id="quad_info"></div>
        <div>
            <div id="sector_info">sector info</div>
            <div id="quadrant">quadrant</div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
	$(".load_quad").click(function(event) {
		requestQuad(event);
	})
});

function requestQuad(event) {
	var quadName = $(event.target).attr("quadName");
	var url = "$PAGE_QUADRANT?quadName=" + quadName;
	$.get(url, function(data) {
		$("#quadrant").html(data);
		$("sector").click(function(event) {
			requestSectorInfo(event);
		})
	});
}

function requestSectorInfo(event) {
	var ths = $(event.target);
	var quadName = encodeURI(ths.attr("quadName"));
	alert(quadName);
	var x = ths.attr("col");
	var y = ths.attr("row");
	var url = "$PAGE_SECTORINFO?quadrant="+quadName+"&x="+x+"&y="+y;
	$.get(url, function(data) {
		$("#sector_info").html(data);
	})
}
</script>
<style>
.quad_table {
    padding: 0;
    width: auto;
    border-spacing: 0px;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}
.quadTable td {
    width: 10px;
    height: 10px;
    padding: 0;
    margin:0;
}
.quadTable tr {
    width: 10px;
    height: 10px;
    padding: 0;
    margin:0;
}
#sector_info {
    float:right;
    margin: 0 10px 10px;
}
#quadrant {
    margin: 10px;
}
</style>

