<div class="highlight contentBox">
    #CONTENT_HEADER ($MSG.htmlOrionName)
    <div class="content">
    <table id="orionTable">
        <tr>
            <td id="quadList" style="width: 20%">
            $MSG.htmlAvailableQuads<br/>
            #foreach ($quad in $allQuads)
                <a href="#" quadName="$quad" class="load_quad">$quad</a><br/>
            #end
            </td>
            <td>
                <p id="quadrant"></p>
                <p id="sector_info"></p>
            </td>
        </tr>
    </table>
    </div>
</div>

<script>
$(document).ready(function() {
	$(".load_quad").click(function(event) {
		requestQuad(event);
	})
});

function highlightSector(quad, x, y) {
	if (x == "0" || y == "0") {
		return;
	}
	// clear current highlight
	$("#quadrant_" + quad + " td").css({border : "1px solid #333366"});
	var select = "#quadrant_" + quad + " tr:eq(" + (y) + ") td:eq(" + (x) + ")";
	var target = $(select);
	target.css({border : "1px solid red"});
};

function requestQuad(event) {
	var quadName = $(event.target).attr("quadName");
	var hlX = $(event.target).attr("hlX");
	var hlY = $(event.target).attr("hlY");
	
	var url = "$PAGE_QUADRANT?quadName=" + quadName;
	if (hlX) {
	    url += "&hlX="+hlX+"&hlY="+hlY;		
	}
	
	$.get(url, function(data) {
		$("#quadrant").html(data);
		$("#sector_info").html("");
		$(".sector").click(function(event) {
			requestSectorInfo(event);
		})
	});
}

function requestSectorInfo(event) {
	var ths = $(event.target);
	var quadName = encodeURI(ths.attr("quadName"));
	var x = ths.attr("col");
	var y = ths.attr("row");
	highlightSector(quadName, x, y);
	var url = "$PAGE_SECTORINFO?quadrant="+quadName+"&x="+x+"&y="+y;
	$.get(url, function(data) {
		$("#sector_info").html(data);
        $(".load_quad_internal").click(function(event) {
            requestQuad(event);
        });
	})
}
</script>
<style>
#orionTable {
    table-layout: fixed;
}
#content .quad_table {
    padding: 0;
    width: auto;
    table-layout: fixed;
    border: none;
    font-size: 5pt;
    background: #333366;
    border-collapse: separate;
    color: white;
}
#content .quad_Table td {
    width: 10px;
    height: 10px;
    padding: 0;
    margin:0;
    border: 1px solid #333366;
}
#content .quad_Table tr {
    width: 10px;
    height: 10px;
    padding: 0;
    margin:0;
}
#sector_info {
    margin: 0 10px 10px;
}
#quadrant {
    margin: 10px;
}
</style>

