#macro ( SECTOR_NO_LINK $sector )
$sector.getQuadName() $sector.getX(), $sector.getY()
#end



#macro ( QUADRANT_PRODUCTION $resourceArr ) 
#BEGIN_EXPAND_TABLE ( 14 "productionTable" $MSG.htmlOrionHourlyProduction false )
  <tr>
#foreach ($i in [1..14])
  <th style="text-align: center"><img src="/polly/rx/httpv2/view/r${i}.gif"/></th>
#end
  </tr>
#BEGIN_EXPAND_TABLE_CONTENT ( false )
  <tr>
#foreach ($i in [0..13])
  <td style="text-align: center">$nf.format($resourceArr[$i].floatValue())</td>
#end
  </tr>
#END_EXPAND_TABLE
#end



#macro ( SECTOR_LINK $sector $quadId)
<a href="#" class="sector" quadName="$quadId" col="$sector.getX()" row="$sector.getY()">
    $sector.getQuadName() $sector.getX(), $sector.getY()
</a>
#end



#macro (SPAWN_POINTS $spawns $id)
    #if (!$spawns.isEmpty())
    #BEGIN_EXPAND_TABLE ( 3 $id $MSG.htmlAlienSpawns true )
    <tr>
        <th>Sektor</th>
        <th>Rasse</th>
        <th>Aggressiv</th>
    </tr>
    #BEGIN_EXPAND_TABLE_CONTENT ( true )
        #foreach ($spawn in $spawns)
            <tr>
                <td>#SECTOR_NO_LINK ( $spawn.getSector() )</td>
                <td>$spawn.getRace()</td>
                <td>#if ($spawn.getRace().isAggressive()) Ja #else Nein #end</td>
            </tr>
        #end
    #END_EXPAND_TABLE
    #end
#end



#macro ( BONUS $bonus)
    #if ($bonus > 0)
    +$bonus%
    #else
    $bonus%
    #end
#end



#macro ( BONUS_ALL $sector) 
    #BONUS ( $sector.getAttackerBonus() )
    #BONUS ( $sector.getDefenderBonus() )
    #BONUS ( $sector.getSectorGuardBonus() )
#end


#macro (TIME_RANGE $min $max)
    #if ($min == $max) 
        $min Min
    #else
        ${min}-$max Min
    #end
#end

#macro (WORMHOLES $holes $id)
#if (!$holes.isEmpty())
#BEGIN_EXPAND_TABLE ( 5 $id $MSG.htmlOrionWormholes true )
    <tr>
        <th>$MSG.htmlOrionWLStart</th>
        <th>$MSG.htmlOrionWLName</th>
        <th>$MSG.htmlOrionWLLoad</th>
        <th>$MSG.htmlOrionWLUnload</th>
        <th>$MSG.htmlOrionWLTarget</th>
    </tr>
#BEGIN_EXPAND_TABLE_CONTENT ( true )
    #foreach ($wl in $holes)
    <tr>
        <td>#SECTOR_LINK ( $wl.getSource() $wl.getSource().getQuadId() )</td>
        <td>$wl.getName()</td>
        <td>$wl.requiresLoad()</td>
        <td>#TIME_RANGE( $wl.getMinUnload(), $wl.getMaxUnload() )</td>
        <td><a href="#" quadName="$wl.getTarget().getQuadId()" 
            hlX="$wl.getTarget().getX()"
            hlY="$wl.getTarget().getY()" 
            class="load_quad_internal">#SECTOR_NO_LINK ( $wl.getTarget() )</a></td>
    </tr>
    #end    
#END_EXPAND_TABLE
#end
#end



#macro (PORTALS $portals $name $id)
    #if (!$portals.isEmpty())
    #BEGIN_EXPAND_TABLE ( 4 $id $name true )
        <tr>
            <th>Name</th>
            <th>Clan</th>
            <th>Sektor</th>
            <th>Datum</th>
        </tr>
    #BEGIN_EXPAND_TABLE_CONTENT( true ) 
        #foreach ($portal in $portals)
        <tr>
            <td>$portal.getOwnerName()</td>
            <td>$portal.getOwnerClan()</td>
            <td>#SECTOR_LINK ( $portal.getSector() $portal.getSector().getQuadId())</td>
            <td>$myPolly.formatting().formatDate($portal.getDate())</td>
        </tr>
        #end
    #END_EXPAND_TABLE
    #end
#end



#macro (QUADRANT $quad)
<p><b>$quad.getName()</b></p>

<table id="quadrant_$quad.getQuadId()" class="quad_Table" style="width: auto">
#foreach ($row in [0..$quad.getMaxY()])
    <tr>
    #if ($row == 0)
        <td></td> 
        #foreach ($col in [1..$quad.getMaxX()])
        <td>#if ($col == $hlX) <b>$col</b>#else $col #end</td>
        #end
    #else
        #foreach ($col in [0..$quad.getMaxX()])
            #if ($col == 0)
            <td>#if ($row == $hlY) <b>$row</b>#else $row #end</td>
            #else
            #set ($sect = $quad.getSector($col, $row))
            <td#if ($sect.getType().isHighlight()) style="border: 1px solid red" #end>
                <img src="/polly/rx/httpv2/view/orion/$sect.getType().getImgName()" 
                    width="10" height="10"
                    quadName="$quad.getQuadId()" row="$row" col="$col" class="sector"/>
            </td>
            #end
        #end
    #end
    </tr>
#end
</table>
#end



#macro (SHARE_ROUTE_URL $page $start $target $options)
$page?startQuad=$start.getQuadName()&startX=$start.getX()&startY=$start.getY()&targetQuad=$target.getQuadName()&targetX=$target.getX()&targetY=$target.getY()&jt=$options.getTotalJumpTime().getSpan()s&cjt=$options.getCurrentJumpTime().getSpan()s&bt=$options.doBlockTail()&be=$options.doBlockEntryPortal()
#end


#macro (BEGIN_EXPAND_TABLE $colCount $tableId $headerText $closed)
<table id="$tableId" style="margin-top:10px">
  <thead><tr>
    <th colspan="$colCount">$headerText <span style="float:right"><a name="$tableId" href="#$tableId" onclick="fadeToggleId('$tableId')">Toggle</a></span></th>
  </tr></thead>
  <tbody #if ($closed) style="display:none" #end>
#end


#macro (BEGIN_EXPAND_TABLE_CONTENT $closed)

#end


#macro (END_EXPAND_TABLE)
  </tbody>
  </table>
#end