#parse ( "/polly/rx/httpv2/view/orion/orion.util.html" )
<div id="tab-$n">
<table>
    <tr>
        <th colspan="2">$MSG.htmlOrionRouteInfo</th>
    </tr>
    #if ( $path.pathFound() )
    <tr>
        <td><b>$MSG.htmlOrionSectorJumps</b></td>
        <td>$path.getSectorJumps()</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlOrionQuadJumps</b></td>
        <td>$path.getQuadJumps()</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlOrionWLUnload</b></td>
        <td>#TIME_RANGE ($path.getMinUnload(), $path.getMaxUnload() )</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlOrionMaxWaitingTime</b></td>
        <td>$path.getMaxWaitingTime() Min</td>
    </tr>
    <tr>
        <td><b>$MSG.htmlOrionTotalWaitingTime</b></td>
        <td>#TIME_RANGE ( $path.getSumMinWaitingTime(), $path.getSumMaxWaitingTime() )</td>
    </tr>
    #else
    <tr>
        <td colspan="2">$MSG.htmlOrionNoRouteFound</td>
    </tr>
    #end
    </table>
    
    #WORMHOLES ( $path.getWormholes() "routeHoles_$n" )
    <table>
    #foreach ($group in $path.getGroups())
    <tr>
        <th colspan="2">$group.getQuadName()</th>
    </tr>
    
    <tr>
        <td>
        #foreach ($edge in $group.getEdges())
            #set ( $ed = $edge.getData() )
            #set($source = $edge.getSource().getData())
            #set($target = $edge.getTarget().getData())
            
            #if ($ed.isWormhole())
            <p style="margin-top:20px">
            
                #if ($ed.getSpawns() && !$ed.getSpawns().isEmpty())
                <span style="color:red"><b>$MSG.htmlOrionAggressiveAliens</b></span><br/>
                    #foreach ($spawn in $ed.getSpawns())
                    <img src="/polly/rx/httpv2/view/orion/207.gif" width="10" height="10"/>
                    <img src="/polly/rx/httpv2/view/orion/$spawn.getSector().getType().getImgName()" width="10" height="10"/>
                    <em>$spawn.getRace()</em> $MSG.htmlOrionSpawnAt #SECTOR_NO_LINK ( $spawn.getSector() ) ($spawn.getName())<br/>
                    #end
                #end
                #if ( $ed.mustWait() )
                <span style="color:red"><b>$MSG.htmlOrionWaitingTime:  $ed.getWait()</b></span><br/>
                    $Constants.bind($MSG.htmlOrionSafeSpots, $path.getMaxSafeSpotDistance()):<br/>
                    
                    #if ( $ed.hasWaitSpots() )
                    #foreach ($safeSpot in $ed.getWaitSpots() )
                        <img src="/polly/rx/httpv2/view/orion/205.gif" width="10" height="10"/>
                        <img src="/polly/rx/httpv2/view/orion/$safeSpot.getType().getImgName()" width="10" height="10"/> #SECTOR_NO_LINK ( $safeSpot ): #BONUS_ALL ( $safeSpot )<br/>
                    #end
                    <br/>
                    #end
                #end
                <b>$MSG.htmlOrionWormhole: </b> $ed.getWormhole().getName()<br/>
                $MSG.htmlOrionFrom: #SECTOR_NO_LINK ( $source ) <br/>
                $MSG.htmlOrionTo: #SECTOR_NO_LINK ( $target ) <br/>
                $MSG.htmlOrionUnload: #TIME_RANGE ( $ed.getWormhole().getMinUnload(), $ed.getWormhole().getMaxUnload())<br/>
                $MSG.htmlOrionRemainingJumpTime: $ed.getUnloadAfter()<br/>
            </p>
            #end
    
        #end
        </td>
        <td>
        ####QUADRANT ( $group.getQuadrant() )
        <img src="$PAGE_GETIMAGEFORGROUP?routeId=$routeId&n=$n&grp=$group.getId()"/>
        </td>
    </tr>
    #end        ## for each groups
</table>
</div>