<h2>Registered Users</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>IRC Login Time</th>
            <th>Current Nickname</th>
            <th>Last Action</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($u in $users) 
        <tr>
            <td>$u.getId()</td>
            <td>$u.getName()</td>
            <td>#if ($u.getLoginTime() != 0) $myPolly.formatting().formatDate( $u.getLoginTime() ) #end</td>
            <td>$!u.getCurrentNickName()</td>
            <td>#if ($u.getLastMessageTime() != 0) $myPolly.formatting().formatDate( $u.getLastMessageTime() ) #end</td>
            <td>#if ($u.isIdle()) Idle #end</td>
            <td>
                <a href="#" title="Edit User"><img src="files/img/user_edit.png" height="20" width="20" onclick="updateUserContent('content/editUser?name=$u.getName()')"/></a> 
                <a href="#" title="Delete User"><img src="files/img/user_delete.png" height="20" width="20"/></a>
            </td>
        </tr>
        #end
    </tbody>
</table>