<h2 id="userName">Edit User $editUser.getName()</h2>

<h3>Password</h3>

<h3>Roles</h3>


<h3>Settings</h3>
<table>
    <thead>
        <tr>
            <th>Setting</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($attribute in $user.getAttributeNames())
        <tr>
            <td>$attribute</td>
            <td><input id="inp_$attribute" style="width:100%" type="text" value="$editUser.getAttribute($attribute)"></td>
            <td><input id="submit_$attribute" type="button" value="Set"/></td>
        </tr>
        #end
    </tbody>
</table>


<script>

function setAttribute(name, att, defaultValue) {
    var value = $("#inp_"+att).val();
    var urlll = "/api/setAttribute?user=" + name + "&attribute=" + att + "&value=" + value;
    $.get(urlll, function(data) {
        if (data == "success") {
            alert("New value has been set");
        } else {
            alert("'" + value + "' is no valid value for '" + att + "'");
            $("#inp_"+att).val(defaultValue);
        }
    });
}


$(document).ready(function() {
#foreach ($attribute in $user.getAttributeNames())
    $("#submit_$attribute").click(function() {
        setAttribute("$editUser.getName()", "$attribute", "$editUser.getAttribute($attribute)");
    });
#end
});
</script>