<tr>
    <td><b>Version: </b></td>
    <td>$!myPolly.getPollyVersion()</td>
</tr>   
<tr>
    <td><b>Running since: </b></td>
    <td>$myPolly.formatting().formatDate($startTime)</td>
</tr>   
<tr>
    <td><b>Uptime: </b></td>
    <td>$myPolly.formatting().formatTimeSpanMs($uptime)</td>
</tr>
<tr>
    <td><b>Active plugins: </b></td>
    <td>$myPolly.plugins().loadedPlugins().size()</td>
</tr>   
<tr>
    <td><b>HTTP Session live time: </b></td>
    <td>$myPolly.formatting().formatTimeSpanMs($sessionTimeOut)</td>
</tr>
<tr>
    <td><b>HTTP Session ID: </b></td>
    <td>$session.getId()</td>
</tr>
<tr>
    <td><b>Current channels: </b></td>
    <td>#foreach($channel in $myPolly.irc().getChannels()) $channel #end</td>
</tr>
<tr>
    <td><b>Registered users: </b></td>
    <td>$myPolly.users().getRegisteredUsers().size()</td>
</tr>
<tr>
    <td><b>Logged in IRC users: </b></td>
    <td>$myPolly.users().getOnlineUsers().size()</td>
</tr>
<tr>
    <td><b>Available IRC commands: </b></td>
    <td>$myPolly.commands().getRegisteredCommands().size()</td>
</tr>