<h2>Polly Home</h2>

<table>
    <thead>
        <tr>
            <th colspan="2">Status</th>
        </tr>
    </thead>
    <tbody>
    #parse("home.status.html")
    </tbody>
</table>

<h3>Active plugins:</h3>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Developer</th>
    </tr>
#set ($i = 0)
#foreach($plugin in $myPolly.plugins().loadedPlugins())
#set ($i = $i+1)
    <tr>
        <td>$i</td>
        <td>$plugin.getName()</td>
        <td>$plugin.getDescription()</td>
        <td>$plugin.getDeveloper()</td>
    </tr>
#end 
</table>