

<div class="highlight contentBox">
    #CONTENT_HEADER ("Reminds from- and for you")
    
    <div class="content">
        <table id="myReminds">
        </table>
    </div>
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ("Admin view - All reminds")
    
    <div class="content">
        <table id="allReminds">
        </table>
    </div>
</div>


<script>
$(document).ready(function() {
	loadTable("/api/allReminds", "allReminds")
	loadTable("/api/myReminds?nickname=$user.getName()", "myReminds")
});

function cancelRemind(id) {
    $.get("$PAGE_CANCELREMIND?remindId="+id, function(data) {
        var result = JSON.parse(data);
        if (result.success) {
            loadTable("/api/allReminds", "allReminds")
            loadTable("/api/myReminds?nickname=$user.getName()", "myReminds")
        } else {
            alert(result.message);
        }
    });
}
</script>