<div class="highlight contentBox">
    #CONTENT_HEADER ("Ship details: $ship.getName()")
    <div class="content">
        <table>
        <tr>
            <td><b>Revorix Id:</b></td>
            <td>$ship.getRxId()</td>
        </tr>
        <tr>
            <td><b>Techlevel:</b></td>
            <td>$ship.getTechlevel()</td>
        </tr>
        <tr>
            <td><b>Owner:</b></td>
            <td>$ship.getOwner()</td>
        </tr>
        <tr>
            <td><b>Clan:</b></td>
            <td>$ship.getOwnerClan()</td>
        </tr>
        <tr>
            <td><b>Name when first spotted:</b></td>
            <td>$ship.getNameWhenSpotted()</td>
        </tr>
        </table>
    </div>
</div>

<div class="highlight contentBox">
    #CONTENT_HEADER ("History")
    <div class="content">
	    <table>
	    <tr>
	        <th>#</th>
	        <th>Date</th>
	        <th>Changes</th>
	    </tr>
	    #set($i = 0)
	    #foreach($he in $ship.getHistory())
	    #set($i = $i + 1)
	    <tr>
	        <td>$i</td>
	        <td>$myPolly.formatting().formatDate($he.getDate())</td>
	        <td>
	        <ul>
	        #foreach ($e in $he.getChanges())
	        <li>$e</li>
	        #end
	        </ul>
	        </td>
	    </tr>
	    #end
	    </table>
    </div>
</div>


<div class="highlight contentBox">
    #CONTENT_HEADER ("Fleets containing this ship")
    <div class="content">
        <table id="scansWithShip">
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
    loadTable("/api/scansWithShip?SHIP_ID=$ship.getRxId()", "scansWithShip");
});
</script>