<div class="highlight contentBox">
    #CONTENT_HEADER ("Details for $venad")
    <div class="content">
    <div id="$venad.hashCode()"></div>
    </div>
</div>

<div class="highlight contentBox">
    #CONTENT_HEADER ("Entries")
    <div class="content">
    <table id="entries"></table>
    </div>
</div>

<script src="/polly/rx/httpv2/view/graph.js"></script>

<script>
$(document).ready(function() {
    loadGraph('$PAGE_GRAPHFORVENAD', '$venad.hashCode()', '$venad', 12);
    loadTable("/api/scoreboardDetail?venadName=$venad", "entries");
});

</script>