<div class="highlight contentBox">
    #CONTENT_HEADER ("Compare View")
    <div class="content">
        <img src="$PAGE_COMPAREIMAGE"/>
    </div>
</div>

#foreach ($v in $compareList.getEntries())
<div class="highlight contentBox">
    #CONTENT_HEADER ("Venad: $v")
    <div id="$v.hashCode()" class="content"></div>
</div>
#end

<script src="/polly/rx/httpv2/view/graph.js"></script>
<script>
$(document).ready(function() {
	#foreach ($v in $compareList.getEntries())
	loadGraph('$PAGE_GRAPHFORVENAD', '$v.hashCode()', '$v', 12);
	#end
});
</script>