<div class="highlight contentBox">
    #CONTENT_HEADER ("Compare View")
    <div class="content">
        <img src="$PAGE_COMPAREIMAGE"/>
    </div>
</div>

#foreach ($v in $compareList.getEntries())
<div class="highlight contentBox">
    #CONTENT_HEADER ("Venad: $v")
    <div id="$v" class="content"></div>
</div>
#end

<script>
$(document).ready(function() {
	#foreach ($v in $compareList.getEntries())
	loadGraph('$v', 24);
	#end
});
function loadGraph(venad, maxMonths) {
	$.get("$PAGE_GRAPHFORVENAD?venadName="+venad, function(data) {
	    	$("#" + venad).html(data);
	});
}
</script>