<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Polly Webinterface v2</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="files/pure.js"></script>
    <script>   
        #if ($user)
        var timer;
        function updateTimeleft() {
            $.get('api/sessionTime', function(data) {
                    var d = JSON.parse(data);
                    if (d.logout) {
                        $("#timeLeft").html("Session invalid");
                        clearInterval(timer);
                        location.reload();
                    } else {
                        $("#timeLeft").html(d.timeLeft);
                    }
                }
            );
        };
        
        $("document").ready(updateTimeleft);
        
        
        timer = setInterval(updateTimeleft, 300000); // update every 5 minutes
        #end
    </script>
    <link rel="stylesheet" type="text/css" href="files/style.css" />
    $!headerHook
</head>
<body>
    <div id="header">
        <div id="github">
            <a href="https://github.com/skuzzle/polly">
                <img src="files/img/gh.png" height="32" width="32" alt="GitHub" 
                    title="Visit on GitHub"/></a>
        </div>
        
        <div id="info">
            #if($user)
            Hi <b>$user.getName()</b>, <a href="/logoutx" title="Logout now">logout</a> in <span id="timeLeft"></span> <a href="#"><img src="files/img/gear_in.png" width="20" height="20" alt="Settings" title="Settings"/></a>
            #else
            <form action="/login" method="post" id="loginForm">
                <label for="name">Login:</label>
                <input type="text" name="name" id="loginName"/>
                <label for="pw">Password:</label>
                <input type="password" name="pw" id="loginPw"/>
                <input type="submit" value="Login" id="login" />
            </form>
            #end
        </div>
        
        <h1><a href="/">Polly Webinterface v2</a></h1>
    </div>

    <ul id="nav">
        #foreach ($me in $menu)
        #if ($myPolly.roles().canAccess($user, $me))
        <li><a href="$me.getUrl()">$me.getName()</a></li>
        #end
        #end
    </ul>
    
    #if($subNav)
    <div style="background: height:25px;font-size:small; font-weight:bold;padding-left:40px; padding-top:3px;">
        SubNav:
    </div>
    #end
    
    <div id="content">
    #if ($content)
    #parse($content)
    #end
    </div>
    
    <div id="footer">
        Execution time: ${executionTime}ms. Polly Webinterface v2. Copyright 2013 Simon Taddiken
    </div>
</body>
</html>