<div class="highlight contentBox">
    #CONTENT_HEADER ("Greasemonkey Scripts")
    <div class="content">
    <table>
    <tr>
        <th>Script</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLSCOREBOARD">Scoreboard Paster</a></td>
        <td>Posts Revorix Scoreboard to polly</td>
    </tr>
    <tr>
        <td><a href="$PAGE_INSTALLLIVEKB">Battlereport Paster</a></td>
        <td>Posts Reovix battle reports to polly. <br/>
            <b>Auto Remind HOWTO:</b> edit the installed
            script and insert your polly login data, then 
            <a href="$PAGE_EDITUSER?userId=$user.getId()">edit</a> your user settings
            to enable auto reminds. Auto Reminds only work if you are currently 
            known to polly in IRC (i.e. you currently share at least one channel)</td>
    </tr>
    </table>
    </div>
</div>